.tabs {
  display: flex;
  flex-direction: row;
  margin: 2rem 0;
  padding: 0.7rem;
  border-radius: 4rem;
  overflow: hidden;
  background: var(--color-secondary);
  box-shadow: var(--box-shadow);

  @include respond(phone) {
    padding: 1rem;
  }

  &__tab {
    color: var(--text-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.4rem;
    padding: 0.4rem;
    cursor: pointer;
    width: calc(100% / 4);
    transition: background-color 0.3s ease;
    border-radius: 4rem;

    @include respond(phone) {
      font-size: 1.7rem;
      padding: 1rem;
    }

    @include respond(tab-land) {
      font-size: 2rem;
    }

    &.active {
      color: var(--text-dark);
      background: var(--color-secondary-light);
      border-radius: 4rem;
      transition: background-color 0.3s ease;
      padding: 0.5rem;

      @include respond(phone) {
        padding: 1rem;
      }
    }
  }
}
