.success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5rem;
  gap: 2rem;

  &__image {
    text-align: center;
    width: 40%;
    align-self: center;
  }

  &__text {
    font-size: 1.5rem;
    text-align: center;
  }
}
