.main {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include respond(tab-port) {
    flex-direction: row;
    margin-bottom: 3rem;
  }

  @include respond(tab-land) {
    padding: 0;
    margin-top: 2rem;
  }
}
