.section {
  padding: 2rem;
  border-radius: 1rem;
  transition: flex-grow 0.3s ease-in-out, width 0.3s ease-in-out;
  position: relative;
  overflow: hidden;

  @include respond(phone) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  @include respond(tab-port) {
    padding-bottom: 2rem;
  }

  @include respond(tab-land) {
    width: 7rem;
  }

  &--expanded {
    flex-grow: 3;
    width: 100%;
    background-color: var(--color-secondary);

    @include respond(tab-land) {
      min-height: 80vh;
    }
  }

  &--collapsed {
    flex-grow: 1;
    background-color: var(--color-secondary-dark);

    @include respond(tab-port) {
      width: 7rem;
    }
  }

  &__title {
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;

    @include respond(tab-port) {
      transform: rotate(90deg);
      transform-origin: left top;
      position: absolute;
      top: 5;
      left: 4.5rem;
      white-space: nowrap;
    }
  }
}
